@font-face {
    font-family: kanit;
    src: url(font/Kanit/Kanit-Light.ttf);
}

:root {
    --color1: ;
    --color2: #f2e8dc;
    --color3: #f7d9c9;
    --menu1: #f7f3f0;
    --menu2: #ecd3ce;
    --menu3: #f8d8c8;
}

body {
    margin: 0;
}

.nav {
    text-align: center;
    align-items: center;
}

.left {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 60vw;
    height: 70vh;
    border: 4px solid #0E8BFE;
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.card {
    width: 45vw;
    margin-top: 2%;
}

.room {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px #ecd3ce;
}

::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: #8aea8c;
}

.button {
    flex: 1;
    display: flex;
}

.leftbutton {
    flex: 1;
}

.rightbutton {
    flex: 1;
}

.btnfind {
    width: 100%;
    height: 100%;
    background-color: #0E8BFE;
    border: 4px solid #0E8BFE;
    border-bottom-left-radius: 10px;
}

.btnfind:hover {
    border: 4px solid #0a6bc6;
    background-color: #0a6bc6;
}

.btnfind2 {
    width: 100%;
    height: 100%;
    background-color: #FFBF1A;
    border: 4px solid #FFBF1A;
    border-bottom-right-radius: 10px;
}

.btnfind2:hover {
    border: 4px solid #dca61d;
    background-color: #dca61d;
}

.card-body {
    display: flex;
}

.card-body h5 {
    flex: 1;
    display: flex;
    height: 100%;
    text-align: center;
    align-items: center;
}

.right {
    width: 30vw;
    background: linear-gradient(180deg, #FFBF1A 0%, #FFDD63 41.46%, rgba(255, 230, 0, 0) 100%);
    display: flex;
    flex-direction: column;
}

.time {
    text-align: center;
    color: black;
    font-size: 2vw;
    margin: 10px;
}

#show-player-score {
    font-size: 1.1vw;
}

.table {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user {
    flex: 1;
    display: flex;
}

.line {
    border: 5px solid black;
    background-color: black;
    height: 20vw;
    width: 0.5vw;
    border-radius: 20px;
    flex: 1 1 25%;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 10px auto;
    background-color: #11213a;
    color: #04c0b2;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 2px 2px #ecd7ba;
    border: 2px solid #ecd7ba;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
    text-align: center;
}

.btn-back {
    width: 7.5vw;
    margin-left: 10px;
}

#page-game {
    display: flex;
}

.product-card1 {
    position: relative;
    top: 15px;
    width: 8vw;
    height: 6vh;
    /* z-index: -3; */
}

.product-card2 {
    position: relative;
    top: 15px;
    right: 50px;
    width: 8vw;
    height: 6vh;
    /* z-index: -3; */
}

.swapCard {
    background-color: #7bfd5b;
    border: 2px solid black;
    border-radius: 20px;
}

.swapCard:hover {
    /* width: 10vw;
    height: 8vh; */
    background-color: #63c74a;
}

.clearCard {
    background-color: #FDC25B;
    border: 2px solid black;
    border-radius: 20px;
}

.clearCard:hover {
    /* width: 10vw;
    height: 8vh; */
    background-color: #c49340;
}


/**************************** buy phase **************************************/

.head-bp {
    background-color: #71C638;
    color: white;
    width: 20vw;
    height: 5vw;
    font-size: 3vw;
    margin-top: 1.5vw;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.product {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.product-card-bp1 {
    margin-top: 2vh;
    width: 17vw;
    height: 35vh;
    border: 2px solid black;
    background-color: #93df80;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-card1 {
    width: 15vw;
    height: 15vh;
    background-color: #67aa57;
    border-radius: 20px;
    margin-top: 0.6vw;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.product-card-bp {
    margin-top: 2vh;
    width: 17vw;
    height: 35vh;
    border: 2px solid black;
    background-color: #FDC25B;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-card {
    width: 15vw;
    height: 15vh;
    background-color: #EE9448;
    border-radius: 20px;
    margin-top: 0.6vw;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.pic-spaw {
    width: 6vw;
    height: 12vh;
}

.card-body-bp {
    display: flex;
    color: #3C415C;
    height: 3vw;
    flex: 1;
}

.btn-card {
    width: 16vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex: 1;
}

.btndelete {
    width: 2vw;
    height: 4vh;
    background-color: #71C638;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 10 !important;
    font-size: 2vw;
}

.stock {
    width: 5vw;
    height: 4vh;
    background-color: #94633A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.2vw;
    font-size: 1.5vw;
}

.btnplus {
    width: 2vw;
    height: 4vh;
    background-color: #71C638;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 0.2vw;
    font-size: 2vw;
}

.btn-price {
    width: 5vw;
    height: 4vh;
    background-color: #71C638;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 1vw;
    font-size: 1.5vw;
}

.card-detail {
    font-size: 15px;
}

#status {
    font-size: 25px;
    margin-top: 10px;
}

#countdown {
    color: crimson;
    font-size: 35px;
}


/**************************** win lost Modal **************************************/

.box-win {
    width: 60vw;
    height: 70vh;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 16px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fdc25b;
    color: black;
}

.box-in {
    width: 45vw;
    height: 45vh;
    background-color: #ee9448;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn-share,
.btn-again {
    width: 23vw;
    height: 7vh;
    background-color: #71c638;
    border: 2px solid black;
    border-radius: 4px;
    color: white;
    font-size: 1.4vw;
    align-self: center;
    /* box-shadow: 5px 5px 5px #4d9320; */
}

.btn-share:hover,
.btn-again:hover {
    background-color: #498d1d;
    transition-duration: 0.4s;
}

.exp,
.coins {
    display: flex;
    justify-content: space-around;
}

.top-box {
    /* display: flex; */
    flex-direction: row;
    /* width: 60vw;
    justify-content: flex-end; */
}

.youwin {
    width: 45vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
}

.youlose {
    width: 45vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
}

.btn-back {
    width: 7.5vw;
    display: flex;
    justify-content: center;
}

.btn-back:hover {
    width: 8vw;
    /* height: 9vh; */
}


/**************************** rank **************************************/

.rank-font {
    color: black;
    font-size: 20px;
}

.howto {
    width: 50vh;
}

@media screen and (max-width: 768px) {
    .product-card-bp1 {
        height: 32vh;
    }
    .product-card-bp {
        height: 32vh;
    }
    .box {
        height: 65vh;
    }
    .card-detail {
        font-size: 13px;
    }
}

@media screen and (max-width: 576px) {
    .product-card-bp1 {
        height: 29vh;
    }
    .product-card-bp {
        height: 29vh;
    }
    .box {
        height: 60vh;
    }
    .card-detail {
        font-size: 11px;
    }
}