@font-face {
    font-family: kanit;
    src: url(font/Kanit/Kanit-Light.ttf);
}

:root {
    --color1: ;
    --color2: #f2e8dc;
    --color3: #f7d9c9;
    --menu1: #f7f3f0;
    --menu2: #ecd3ce;
    --menu3: #f8d8c8;
}

body {
    margin: 0;
}


/* .nav {
    text-align: center;
    align-items: center;
} */

.left {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 60vw;
    height: 70vh;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fdc25b;
    color: black;
}

.box-in {
    width: 45vw;
    height: 45vh;
    background-color: #ee9448;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn-share,
.btn-again {
    width: 23vw;
    height: 7vh;
    background-color: #71c638;
    border: 2px solid black;
    border-radius: 4px;
    color: white;
    font-size: 1.4vw;
    align-self: center;
    /* box-shadow: 5px 5px 5px #4d9320; */
}

.btn-share:hover,
.btn-again:hover {
    background-color: #498d1d;
    transition-duration: 0.4s;
}

.exp,
.coins {
    display: flex;
    justify-content: space-around;
}

.top-box {
    display: flex;
    flex-direction: row;
    width: 60vw;
    justify-content: flex-end;
}

.youwin {
    width: 45vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.btn-back {
    width: 7.5vw;
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px #ecd3ce;
}

::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: #8aea8c;
}

.right {
    width: 30vw;
    background: linear-gradient(180deg, #FFBF1A 0%, #FFDD63 41.46%, rgba(255, 230, 0, 0) 100%);
    display: flex;
    flex-direction: column;
}

#time {
    text-align: center;
    margin-top: 0px;
}